extends layout

block content
  script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
  script(type='text/javascript').
    function logout_alert() {
      Swal.fire({
          icon: 'warning',
          title: 'Logout',
          text: 'Apakah anda yakin ingin logout?',
          showCancelButton: true
      }).then((result) => {
        if(result.isConfirmed) {
          document.getElementById('form-logout').click()
        }
      })
    }
    
  script(type='text/javascript').
    !{tagsJSON}
    var users = JSON.parse(#{data})

  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
    .container-fluid
      a.navbar-brand(href='/') Navbar
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-md-0
          li.nav-item
            a.nav-link.active(aria-current='page' href='#') Home
        .d-flex
          form
            button.button.btn.btn-outline-danger(onclick="logout_alert()" type='button') Log-out
            a#form-logout(href="/login") 
      
  main.container
    .bg-body-tertiary.p-5.rounded
      a.button.btn.btn-success.mb-3(href='#') Tambah Users
      table#mytable.table.table-striped.table-bordered
        thead
          tr 
            th No
            th Email
            th Firstname
            th lastname
            th Action
        tbody
          -
          each store in data
            tr
              td= store.id
              td= store.username
              td= store.name.firstname
              td= store.name.lastname
              td 
                a.button.btn.btn-primary.me-2(href='#') Edit
                a.button.btn.btn-danger(href='#') Hapus